body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F4F4F4;
}
header{
    text-align: center;
    font-size: 20px;
    font-variant: small-caps;
    border: solid 1px #B0B0B0;
    background-repeat: no-repeat;
    background-color: #000000;
    background-size: contain; /*pilt mahub header sisse*/
}
header h1{
    letter-spacing: 0.1cm;
    color: #FFFFFF;
}
footer {
    bottom: 0;
    background-color: #333;
    color: white;
    height: 2em;
    left: 0;
    padding: 1%;
    position: fixed;
    font-size: small;
    width:100%;
}
nav {
    margin: 0 0 10% 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #404040;
}
nav ul {
    list-style: none;
    padding: 0.5%;
    margin: 0;
    display: flex;
    gap: 20px;
    border: solid 3px #B0B0B0;
    border-radius: 25px
}
nav ul li{
    display: block;
    float: left;
    padding: 1%;
    width: 130px;
    background-color: #757575;
    border: solid 1px #B0B0B0;
    margin-right: 1px;
    line-height: 40px;
    border-radius: 25px;
}
nav ul li:hover{
    background-color: #333333;
    border: solid 1px #B0B0B0;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
}

.menu ul>li {
    display: block;
    position: relative;
    float: left;
}

.dropdown{
    display: none;
}
.menu li>a{
    display: block;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.5s ease;
}
.dropdown{
    /*  display: none;*/
    display: block;
    position: absolute;
    opacity: 0;
    background: #ccc;

    transition: all 0.3s ease;
}

.menu li:hover>ul{
    top: 47px;
    left: 0;
    opacity: 1;
}
#hooaeg{
    width:50%;
    border: 1px solid red;
    background-color: cornsilk;
}
.flex-container {
    display: flex;
    flex-direction: column;
    background-color: DodgerBlue;
}

.flex-container div {
    background-color: #f1f1f1;
    width: auto;
    margin: 0.5%;
    padding: 2%;
    text-align: center;
    font-size: 30px;
}

